In [1]:
# for문의 기본구조

# for 변수 in 리스트(또는 튜플, 문자열):
#     수행할_문장1
#     수행할_문장2

In [2]:
#전형적인 for문

test_list = ["one", "two","three"]

for i in test_list:
    print(i)

one
two
three

In [5]:
# 다양한 for문의 사용

a = [(1,2), (3,4), (5,6)]

for i in a:    #i를 (a, b) or a, b 로 사용가능 튜플이라
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [6]:
# for문의 응용

# 5명의 시험 점수
scores = [90, 25, 67, 45, 80]
id = 0

for score in scores:
    id += 1  #id = id + 1 
    if score >= 60:
        print(f"id: {id}, 합격입니다.")
    else:
        print(f"id: {id}, 불합격입니다.")

id: 1, 합격입니다.
id: 2, 불합격입니다.
id: 3, 합격입니다.
id: 4, 불합격입니다.
id: 5, 합격입니다.

In [ ]:
# for문과 continue문

scores = [90, 25, 67, 45, 80]
id = 0

for score in scores:
    id += 1
    
    if score < 60:
        continue

    print(f"id가 {id}인 학생은 합격입니다.")  #2, 4는 실행이 안됨. continue에서 다시 for문 으로 돌가기 때문

# else:
#     print(f"불합격입니다.")    <- 요기 부분 다시 공부

id가 1인 학생은 합격입니다.
id가 3인 학생은 합격입니다.
id가 5인 학생은 합격입니다.
불합격입니다.

In [16]:
# for문과 함께 자주 사용하는 range 함수

a = range(10)
print(a)

b = range(10)
print(list(b))

c = range(1,10)
print(list(c))
print(len(c))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
9

In [ ]:
# 1부터 10까지 더하는 반복문

hap = 0
for i in range(1, 10+1):  #list에 [1, 2, 3, 4 ... 10] 있는 것
    hap = hap + i # i 에 더해야 1부터 10까지 더하눈고

    print(hap)  # 과정이 보임
print(hap)   #결과 값만 보임

1
3
6
10
15
21
28
36
45
55

In [32]:
# for와 range()를 이용한 구구단을 만들어 보세요.
# 출력예시는
# 2 * 1 = 2
# 2 * 2 + 4
# 2 * 3 = 6
# ...
# 9 * 9 = 81


for i in range(2, 10):
     for k in range(1, 10):
          print(i*k, end="")
     print('')

24681012141618
369121518212427
4812162024283236
51015202530354045
61218243036424854
71421283542495663
81624324048566472
91827364554637281

In [ ]:
for a in range(2, 10):  #[2, 3, 4, ... 9]
    for b in range(1, 10):   #[1, 2, 3, 4 ... 9]   . a가 2 일 때 9번, 3일 때 9번 반복...
        print(f"{a} * {b} = {a * b}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [2]:
# enumerate 함수 활용하기
fruits = ["apple", "banana", "orange"]

for fruit  in fruits:
    print(fruit)

for (i, fruit)  in enumerate(fruits):
    print(f"{i}: {fruit}")

apple
banana
orange
0: apple
1: banana
2: orange

In [3]:
# zip 함수로 여러 리스트 함께 순회하기
names = ["홍길동", "유재석", "강호동"]
scores = [85, 92, 80]

for name, score in zip(names, scores):
    print(f"{name}: {score}점")

홍길동: 85점
유재석: 92점
강호동: 80점