In [3]:
me = {
'이름': '단아',
'나이': 27,
'취미': ['음악 듣기', ''],
'거주지': '포항'
}
me['취미'].append('영화 감상')
me

{'이름': '단아', '나이': 27, '취미': ['음악 듣기', '', '영화 감상'], '거주지': '포항'}

In [ ]:
me['나이'] += 1
me['나이'] = me['나이'] + 1
me

{'이름': '단아', '나이': 29, '취미': ['음악 듣기', '', '영화 감상'], '거주지': '포항'}

In [ ]:
for key, value in me.items():
print(f"키는 {key}이고, 값은 {value} 이다")
#앞에 f는 섞어 쓸 때 사용

IndentationError: expected an indented block after 'for' statement on line 1 (605038626.py, line 2)

In [9]:
for student in student: 
    total = student['국어'] + student['영어'] + student['수학']
    average = total / 3
    student['총점'] = total
    student['평균'] = average

NameError: name 'student' is not defined

In [10]:
text = "python is great python is fun python is powerful"
words = text.split()
words

['python', 'is', 'great', 'python', 'is', 'fun', 'python', 'is', 'powerful']

In [15]:
word_count = {}
for word in words :
    word_count[word] = word_count.get(word, 0) + 1

word_count = {
    "python" : 1,
    "is" : 1
    ..
            }

SyntaxError: invalid syntax (1936418997.py, line 8)

In [16]:
max_korean = 0 #초기값 0 으로 세팅
top_student = "" #""로 감싸줌
for class_name, students in school.items() :
    for student_name, scores in student.items() :
        if scores['국어'] > max_korean :
            max_korean = scores['국어']
            top_student = student_name

print(f"국어 최고 점수 학생: {top_student} ({max_korean}점)")

NameError: name 'school' is not defined

In [17]:
eng_kor_dict = {
    'apple' : '사과'
    }

In [18]:
print("=== 영한사전 ===")
print("'quit'을 입력하면 종료됩니다.")

while True:
    word = input("\n영어 단어를 입력하세요: ").lower()

    if word == 'quit':
        print("프로그램을 종료합니다.")
        break

    if word in eng_kor_dict:
        print(f"{word}: {eng_kor_dict[word]}")
    else:
        print("사전에 없는 단어입니다.")

=== 영한사전 ===
'quit'을 입력하면 종료됩니다.
사전에 없는 단어입니다.
프로그램을 종료합니다.